*, *:before, *:after
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat');

.d-f-center{
    display: flex;
    justify-content: center;
}

main{
    font-family: 'Montserrat', sans-serif;
}
.header__captionArea{
    margin: 40px;
}

.header__caption{
    font-size: 22px;
    color: #FF473A;
    text-transform: uppercase;
}

.main__captionArea{
    margin: 40px;
}

.main__caption{
    font-size: 14px;
    color: #979797;
}

.main__button{
    width: 250px;
    height: 42px;
    background: #FF473A;
    border: none;
    color: #FFFFFF;
    font-size: 12px;
    -webkit-box-shadow: 1px 6px 13px -3px rgba(0,0,0,0.98);
    -moz-box-shadow: 1px 6px 13px -3px rgba(0,0,0,0.98);
    box-shadow: 1px 6px 13px -3px rgba(0,0,0,0.98);
    transition: 0.2s ease all;
    margin: 20px;
}
.main__button:hover{
    background: #FF5D51;
    
}
.main__button:active{
    background: #FE1100;
}

.main__button:focus {
    outline: none;
  }

.main__input{
    height: 43px;
    width: 200px;
    color: #FF473A;
    font-size: 18px;
    padding-left: 10px;
    border: none;
    border: 2px solid black;
}

.main__input:focus {
    outline: none;
}

.main__select{
    height: 43px;
    width: 150px;
    font-size: 18px;
    margin-left: 10px;
    padding-left: 10px;
    border: none;
    border: 2px solid black;
    color: #FF473A;

}

.main__select:focus {
    outline: none;
}

.textArea{
    width: 350px;
    height: 200px;
    border: 2px solid black;
    color: black;
    font-size: 18px;
    margin: 10px 0;
    padding: 10px;
}
